Repository HYF-Class19/home, pull requests merged in 2022-07, with the labels that each got.

#68 AnitaSharma: bio file
  student-bios/AnitaSharma2022.md
Labels: deliverable, individual, week-2

#67 thomas-ayissi: workflow - Bio - version5
  package-lock.json
  student-bios/pic-thomas-ayissi.jpeg
  student-bios/thomas-ayissi.md
Labels: deliverable, individual, week-2

#64 Galal Student Bio
  student-bios/galalkoro98.md
  student-bios/images/agile.png
  student-bios/images/asyc.png
  student-bios/images/cms.png
  student-bios/images/implementation.png
  student-bios/images/javascript.png
  student-bios/images/science.png
  student-bios/images/separation.png
  student-bios/images/ux.png
Labels: deliverable, individual, student-bio

#78 thomas-ayissi: workflow - Bio - version5 - Update - including changes from "main" branch folder for pic -
  student-bios/images/pic-thomas-ayissi.jpeg
  student-bios/thomas-ayissi.md
Labels: deliverable, individual, student-bio

#80 Galal Student Bio
  student-bios/AnitaSharma2022.md
  student-bios/galalkoro98.md
  student-bios/images/galal.jpg
Labels: individual, student-bio

#84 Galal Student Bio
  student-bios/galalkoro98.md
Labels: individual, week-1, student-bio

#87 Inna : add my bio
  student-bios/images/facebook.svg
  student-bios/images/github.svg
  student-bios/images/instagram.svg
  student-bios/inna-bio.md
Labels: student-bio

#91 Valeriya: student bio
  .DS_Store
  student-bios/V-Valkiriya.md
Labels: deliverable, individual, week-1, student-bio

#95 Azima student-bio
  student-bios/AzimaKai.md
Labels: student-bio

#104 Create anasabbar student bio
  student-bios/anasabbar.md
Labels: student-bio

#89 John Edelbi - workflow - add johnedelbi bio to student-bios folder
  student-bios/images/JohnEdelbi.jpg
  student-bios/johnedelbi.md
Labels: deliverable, individual, student-bio

#115 Bibha Bio file
  student-bios/bibhasingh.md
Labels: deliverable, individual, student-bio

#112 Zeynep-bio.md
  student-bios/Melati5.md
Labels: student-bio

#111 HaykoBio
  package-lock.json
  package.json
  student-bios/HaykoDevelop.md
Labels: individual, week-1, student-bio

#98 JohnOlutubo: workflow-bio
  student-bios/JohnOlutubo-bio.md
  student-bios/images/JohnOlutubo_picture.png
Labels: individual, week-1, student-bio

#122 Helen bio
  student-bios/Helen-HYF.md
Labels: deliverable, individual, student-bio

#82 filmon-goitom: workflow , student-bio
  .cspell.json
  student-bios/filmon-goitom.md
Labels: deliverable, individual, student-bio

#132 Nashmia Bio
  student-bios/nashmiab.md
Labels: student-bio

#142 Renjani_Student Bio
  student-bios/renjani2022.md
Labels: individual, week-1, student-bio

#100 Add bio_Verousca
  student-bios/VerouscaBio.md
  student-bios/images/Verousca_Img.jpeg
Labels: deliverable, individual, week-1, student-bio

#143 Bibha Singh:my profile photo
  admin/assets/avatars/bibhasingh.png
Labels: individual, week-1, student-bio

#150 added gopibio
  student-bios/Gopiben.md
  student-bios/bibhasingh.md
Labels: deliverable, student-bio
